.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 960px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.menu {
  display: none;
}

header {
  position: fixed;
  z-index: 20;
  width: 100%;
  padding: 8px 0;
  background: linear-gradient(to bottom, #70a9ff, #0149b4);
}

.nav-div {
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .nav-div {
    width: 480px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .nav-div {
    width: 768px;
  }
}
@media screen and (min-width: 960px) {
  .nav-div {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-div {
    width: 255px;
  }
}

h1 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo a {
  padding: 5px;
  border-radius: 50%;
  background-color: white;
}
.logo a picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-button {
  padding: 0;
  border: 0;
  background: transparent;
}

.modal-nav {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-nav.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-nav.is-open .modal-menu {
  transform: translateX(0);
}

.modal-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(to bottom, #70a9ff, #0149b4);
  padding: 96px 0 80px 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-100%);
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.modal-menu a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.is-active-mobile {
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  background-color: #092145;
}

@media screen and (min-width: 768px) {
  h1 {
    font-weight: 500;
    font-size: 26px;
  }
  .modal-nav {
    width: 50%;
  }
  .modal-menu {
    padding-left: 24px;
  }
  .modal-menu a {
    font-weight: 300;
    font-size: 20px;
  }
  .logo img {
    width: 32px;
    height: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-button {
    display: none;
  }
  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-radius: 20px;
    background-color: #124897;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu li:hover {
    background-color: #092145;
  }
  .menu .is-active {
    background-color: #092145;
  }
  .menu a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: white;
  }
  header {
    position: fixed;
    width: 295px;
    height: 100%;
    padding: 20px 0;
  }
  h1 {
    font-weight: 500;
    font-size: 26px;
    color: black;
  }
  .logo {
    padding: 15px 0;
    width: 100%;
    background-color: white;
    border-radius: 20px;
  }
  .logo a {
    padding: 0;
    border-radius: 0;
    background: transparent;
  }
  .logo a img {
    width: 52px;
    height: 54px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 38px;
  }
}
main {
  padding-top: 56px;
}

.main-div {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  background: linear-gradient(to bottom, #70a9ff, #0149b4);
}

.main-ul-button {
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
}
.main-ul-button li {
  padding: 8px 10px;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.main-ul-button li:nth-child(2) {
  border-radius: 20px;
  color: white;
  background: linear-gradient(to right, #70a9ff, #0149b4);
}
.main-ul-button li:nth-child(2) button {
  color: white;
}
.main-ul-button button {
  border: 0;
  padding: 0;
  background: transparent;
}

.choise-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.choise-card .card {
  color: white;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(300deg, #bb6bd9, #0149b4);
}
.choise-card .card li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.choise-card .card li span {
  width: 56px;
}
.choise-card .card li:first-child {
  margin-bottom: 44px;
}
.choise-card .card li:nth-child(2) {
  margin-bottom: 10px;
}
.choise-card .card li:nth-child(2) b {
  display: flex;
  gap: 5px;
}

@media screen and (min-width: 360px) {
  .card {
    width: 250px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 300px;
    height: 150px;
  }
}
.main_info {
  padding: 22px 0;
}
.main_info ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.main_info ul li {
  padding: 6px 12px;
  background-color: #f1f4ff;
  border-radius: 10px;
}
.main_info ul li:first-child {
  border-bottom: 3.5px solid #ff0000;
}
.main_info ul li:nth-child(2) {
  border-bottom: 3.5px solid #ffd600;
}
.main_info ul li:nth-child(3) {
  border-bottom: 3.5px solid #0fb600;
}
.main_info ul li:last-child {
  border-bottom: 3.5px solid #9e00ff;
}
.main_info ul li h4 {
  margin: 0;
  margin-top: 5px;
  font-weight: 700;
  font-size: 20px;
}

.main_balance {
  padding-bottom: 12px;
}
.main_balance button {
  text-align: center;
  border: 0;
  padding: 10px 18px;
  background-color: #f1f4ff;
  border-radius: 10px;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
}
.main_balance .balance_div {
  margin: 12px 0;
  padding: 30px 20px;
  background-color: #f1f4ff;
  border-radius: 10px;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
}
.main_balance .balance_div h3 {
  margin: 0;
  margin-top: 43px;
  font-weight: 700;
  font-size: 26px;
}
.main_balance .balance_ul {
  display: flex;
  justify-content: space-between;
}
.main_balance .balance_ul button {
  padding: 8px 12px;
  border-radius: 20px;
  color: white;
  background: linear-gradient(to right, #70a9ff, #0149b4);
}

footer {
  padding: 13px 0;
  background: linear-gradient(to bottom, #70a9ff, #0149b4);
}
footer div {
  display: flex;
  align-items: center;
  justify-content: end;
}

.backdrop {
  position: fixed;
  z-index: 30;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  z-index: 10;
  overflow: auto;
  width: 260px;
  padding: 15px;
  left: 50%;
  top: 50%;
  background-color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .modal_desktop_menu {
  display: none;
}
.modal h2 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
}
.modal form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.modal form span {
  display: block;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 8px;
}
.modal form label {
  display: block;
}
.modal form label input {
  width: 100%;
  box-sizing: border-box;
  padding: 11px 14px;
  border: 1px solid #a3aed0;
  border-radius: 20px;
}
.modal form ul {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}
.modal form ul button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 22px;
  border: 0;
  border-radius: 20px;
  color: white;
  background-color: #a3aed0;
}
.modal form ul li:last-child button {
  background: linear-gradient(to right, #70a9ff, #0149b4);
}
.modal form ul li:last-child button svg {
  display: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

@media screen and (min-width: 1200px) {
  .modal {
    padding: 30px;
    width: 290px;
  }
  .modal .modal_desktop_menu {
    display: block;
  }
  .modal .modal_desktop_menu ul {
    display: flex;
    gap: 7px;
  }
  .modal .modal_desktop_menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 19px;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
    padding: 6px 10px;
    flex: 1;
    min-height: 20px;
  }
  .modal .modal_desktop_menu ul li:first-child {
    background-color: #2e65f3;
    color: white;
  }
  .modal .modal_desktop_menu ul li span {
    margin: 0;
  }
  .modal .modal_desktop_menu ul li p {
    margin: 0;
    display: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal .modal_desktop_menu ul li svg {
    transform: rotate(0deg);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal .modal_desktop_menu ul li .rotate {
    transform: rotate(180deg);
  }
  .modal .modal_desktop_menu ul li .visible {
    display: block;
  }
  .modal h2 {
    text-align: center;
  }
  .modal form ul button {
    padding: 10px 27px;
  }
  .modal form ul li:last-child button svg {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */