main {
  padding-top: 56px;
}
.main-div {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  background: linear-gradient(to bottom, #70a9ff, #0149b4);
}
