.manager_offers {
  .manager_offers_ul {
    display: flex;
    flex-direction: column;
    .manager_offers_ul_li {
      padding: 15px;
      background-color: #181a1e;
      &:first-child {
        background-color: #0e1218;
        ul {
          li:first-child {
            margin-right: 70px;
          }
          li:nth-child(2) {
            margin-right: 150px;
          }
          li:nth-child(3) {
            margin-right: 60px;
          }
          // li:nth-child(4) {
          //   // margin-right: 10px;
          // }
          // li:nth-child(5) {
          //   // margin-right: 30px;
          // }
        }
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li:first-child {
          // margin-right: 10px;
          display: flex;
          align-items: center;
          gap: 15px;
        }
        li:last-child {
          // margin-right: 10px;
          display: flex;
          align-items: center;
          gap: 15px;
        }
        // li:nth-child(2) {
        //   margin-right: 10px;
        // }
        // li:nth-child(3) {
        //   margin-right: 10px;
        // }
        // li:nth-child(4) {
        //   margin-right: 10px;
        // }
        // li:nth-child(5) {
        //   margin-right: 30px;
        // }
        // li:nth-child(6) {
        //   margin-right: 20px;
        // }
        // li:nth-child(7) {
        //   margin-right: 50px;
        // }
        // li:nth-child(8) {
        //   margin-right: 20px;
        // }
      }
    }
  }
}
