.manager_data {
  padding: 20px 0 30px 0;
  ul {
    display: flex;
    gap: 20px;
    li {
      padding: 10px 34px;
      background-color: #0e1218;
      width: 100%;
      border-radius: 20px;
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
      }
      &:first-child::after {
        background-color: #423efc;
      }
      &:nth-child(2)::after {
        background-color: #f6d423;
      }
      &:nth-child(3)::after {
        background-color: #7c57f4;
      }
      &:last-child::after {
        background-color: #36393e;
      }
      h4 {
        margin: 0;
        margin-top: 5px;
        @include font(700, 20px);
      }
    }
  }
}
