.main_info {
  padding-bottom: 22px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    li {
      padding: 6px 12px;
      background-color: #0e1218;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3.5px;
      }
      &:first-child::after {
        background-color: #423efc;
      }
      &:nth-child(2)::after {
        background-color: #f6d423;
      }
      &:nth-child(3)::after {
        background-color: #7c57f4;
      }
      &:last-child::after {
        background-color: #36393e;
      }
      h4 {
        margin: 0;
        margin-top: 5px;
        @include font(500, 18px);
      }
      span {
        @include font(300, 12px);
      }
    }
  }
}
