.main_info {
  padding: 22px 0;
  ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    li {
      padding: 6px 12px;
      background-color: #0e1218;
      border-radius: 10px;
      &:first-child {
        border-bottom: 3.5px solid #403cf3;
      }
      &:nth-child(2) {
        border-bottom: 3.5px solid #dfc022;
      }
      &:nth-child(3) {
        border-bottom: 3.5px solid #0fb600;
      }
      &:last-child {
        border-bottom: 3.5px solid #9e00ff;
      }
      h4 {
        margin: 0;
        margin-top: 5px;
        @include font(500, 18px);
      }
      span {
        @include font(300, 12px);
      }
    }
  }
}
