.profile_offers {
  .profile_offers_ul {
    display: flex;
    flex-direction: column;
    .profile_offers_ul_li {
      padding: 15px;
      background-color: #181a1e;
      &:first-child {
        background-color: #0e1218;
        ul {
          li:first-child {
            margin-right: 20px;
          }
          li:nth-child(2) {
            margin-right: 100px;
          }
          // li:nth-child(3) {
          //   margin-right: 50px;
          // }
          // li:nth-child(4) {
          //   margin-right: 70px;
          // }
          li:nth-child(5) {
            margin-right: 20px;
          }
          li:nth-child(6) {
            margin-right: 10px;
          }
        }
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li:last-child {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        b {
          @include font(300, 10px);
        }
      }
    }
  }
}
.backdrop {
  .modal {
    form {
      ul {
        button {
          padding: 10px 22px;
        }
      }
    }
  }
}
