.profile_info {
  .container {
    h2 {
      margin: 40px 0;
      @include font(700, 28px);
    }
    div {
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      background-color: #0e1218;
      padding: 10px;
      ul:first-child {
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
          display: flex;
          gap: 10px;
        }
        span {
          @include font(400, 13px);
        }
      }
      ul:last-of-type {
        display: flex;
        gap: 12px;
        margin-top: 10px;
        button {
          @include font(400, 12px);
          border: 0;
          padding: 7px 12px;
          border-radius: 20px;
          color: white;
          background: #302eff;
        }
      }
      img {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }
}
