.balance_card {
  h3 {
    margin: 0;
    margin-right: 6px;
  }
  .balance_addCard_ul {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      display: flex;
    }
  }
  .choise-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 290px;
    margin: auto;
    .card {
      color: white;
      padding: 20px;
      border-radius: 10px;
      background: linear-gradient(330deg, #8571b8, #051757);
      &:first-child {
        position: absolute;
        height: 60%;
        left: -78%;
        li {
          span {
            @include font(400, 12px);
          }
          b {
            @include font(400, 14px);
          }
          &:first-child {
            margin-bottom: 18px;
          }
          &:nth-child(2) {
            margin-bottom: 20px;
            b {
              @include font(400, 12px);
            }
          }
          &:last-child {
            b {
              @include font(400, 12px);
            }
          }
        }
      }
      &:last-child {
        position: absolute;
        height: 60%;
        right: -78%;
        li {
          span {
            @include font(400, 12px);
          }
          b {
            @include font(400, 14px);
          }
          &:first-child {
            margin-bottom: 18px;
          }
          &:nth-child(2) {
            margin-bottom: 20px;
            b {
              @include font(400, 12px);
            }
          }
          &:last-child {
            b {
              @include font(400, 12px);
            }
          }
        }
      }
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          width: 56px;
          @include font(400, 16px);
        }
        b {
          @include font(400, 18px);
        }
        &:first-child {
          margin-bottom: 44px;
        }
        &:nth-child(2) {
          margin-bottom: 10px;
          b {
            @include font(400, 16px);
            display: flex;
            gap: 5px;
          }
        }
        &:last-child {
          b {
            @include font(400, 14px);
          }
        }
      }
    }
  }
}
